################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CocktailApp/.vs/CocktailApp/v15/Server/sqlite3
/CocktailApp/.vs/CocktailApp
